<h1>Let's play a game</h1>

<ul>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<form method='POST', action='/score'>
  <input type="text" name="answer" placeholder="Type the longest word">
  <input type="submit" value="Play">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
